@import "tailwindcss";

@layer base {
  html {
    @apply text-gray-800 bg-gray-50;
  }

  body {
    @apply font-sans antialiased;
  }

  h1 {
    @apply text-3xl font-bold;
  }

  h2 {
    @apply text-2xl font-semibold;
  }
}

@layer utilities {

  .text-primary {
    @apply text-blue-600;
  }

  .text-secondary {
    @apply text-gray-600;
  }

  .text-danger {
    @apply text-red-600;
  }

  .bg-primary {
    @apply bg-gray-200 text-gray-600;
  }

  .bg-secondary {
    @apply bg-gray-400 text-gray-800;
  }

  .bg-danger {
    @apply bg-red-500 text-white;
  }

  .card {
    @apply bg-white rounded-lg shadow p-4;
  }

  .page-container {
    @apply max-w-7xl mx-auto p-4;
  }
}
